Repository pbdsce/PB_Website, pull requests merged in 2025-06, with the labels that each got.

#327 Issue275 - Refactored Achievements Page
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  app/admin/layout.tsx
  app/admin/page.tsx
  components/Signin.tsx
  models/AchievementsCategory.ts
  package-lock.json
  package.json
Labels: Frontend, Dependencies, CI/CD, API, Models, size-XL, Github Actions

#336 Revert "Issue275 - Refactored Achievements Page"
  app/(default)/achievements/page.tsx
  app/(default)/api/achievements-category/route.ts
  app/admin/layout.tsx
  app/admin/page.tsx
  components/Signin.tsx
  models/AchievementsCategory.ts
  package-lock.json
  package.json
Labels: Frontend, Dependencies, API, Models, size-XL

#343 redirecting to hustle page
  app/(default)/hustle/page.tsx
Labels: Frontend, size-L
