Repository pbdsce/PB_Website, pull requests merged in 2025-09, with the labels that each got.

#380 Open recruitment form for registrations
  components/forms/recruitmentForm.tsx
  components/ui/header.tsx
Labels: Frontend

#389 Add landscape orientation breakpoint in Tailwind config, update Hero …
  components/RecruitmentBanner.tsx
  components/SIHbanner.tsx
  components/achievementList.tsx
  components/hero.tsx
  tailwind.config.ts
Labels: Frontend, Styling, Config

#393 remove authorization from recruitment route
  app/(default)/api/registration/recruitment/route.ts
  package-lock.json
Labels: Frontend, Dependencies, API
