Repository pbdsce/PB_Website, pull requests merged in 2025-05, with the labels that each got.

#318 fixed pr-checks
  .github/workflows/pr-checks.yaml
Labels: CI/CD, Github Actions

#320 fixed labels
  .github/workflows/pr-checks.yaml
Labels: CI/CD, size-XS, Github Actions

#319 added github icon
  components/ui/header.tsx
  components/ui/mobile-menu.tsx
  package-lock.json
  package.json
Labels: Frontend, Dependencies, size-XS

#323 Run failing for few pr's
  .github/workflows/pr-checks.yaml
Labels: CI/CD, size-XS, Github Actions

#283 Update favicon with black background
  public/favicon.ico
Labels: Frontend, size-XS
