Repository pbdsce/PB_Website, pull requests merged in 2025-10, with the labels that each got.

#399 Fix build error on pr
  .github/workflows/build.yaml
  lib/firebaseAdmin.ts
Labels: CI/CD, Utils, size-S, Github Actions

#402 sync2
  .github/workflows/build.yaml
  lib/firebaseAdmin.ts
  package-lock.json
Labels: Frontend, Dependencies, CI/CD, API, Utils, size-L, Github Actions

#407 Add server side validation for domain check
  app/(default)/api/admin/route.ts
  lib/requireAuth.ts
Labels: Frontend, API, Utils, size-M

#410 Merging Staging to Prod
  app/(default)/api/registration/pbctf/route.ts
  app/(default)/api/registration/recruitment/route.ts
  app/(default)/api/registration/sih/route.ts
Labels: Frontend, API
